@import 'variables';

body {
  background: #008080;
}

* {
  font-family: $font-family;
}

.app {
  position: relative;
  width: 100vw;
  height: 100Vh;
}

.task-bar {
  width: 100vw;
  height: 45px;
  background-color: $bg-gray;
  position: absolute;
  bottom: 0;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: inset 1px 0 #fff;
  border-top: 1px solid #f4f4f4;
}

.button {
  background: $bg-gray;
  box-shadow: $button-shadow;
  width: 90px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  &--bold {
    font-weight: 900;
  }

  &--icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }

  &:active {
    border: 1px solid #000000;
  }
}

.desktop-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(24, 90px);
  grid-template-rows: repeat(24, 90px);
}

.desktop-icon {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin: 10px;

  &--text {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    margin-top: 5px;
  }
}
